/* * {

}
*/

/* Set project variables */
:root {
    --text-color: lightsteelblue;
    --back-color: navy;
    --light-back: lightsteelblue;
    --text-dark: navy;
}

/* Set scroll behavior for clicked links */
html {
    scroll-behavior: smooth;
}

/* Set defaults for the body */
body {
    font-size: 16;
    display:flex;
    box-sizing: border-box;
    flex-direction:column;
    background-color: white;
}

/* Set parameters for the entire header */
header {
    /* <add a shadow to the header> */
    font-family: 'Domine', serif;
    padding: 2%;
    align-items: center;
    width:100%;
    margin-bottom: 10px;
    
    /* Fix the header
    position: fixed;
    top: 0;
    width: 100% */
}

/* Set parameterss for the name and Nav section of the header */
.top-section {
    background-color: var(--back-color);
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: 100%;
    justify-content: space-between;
    box-shadow: 3px 2px 2px var(--back-color);
}

/* Name parameters */
header h1 {
    background-color: var(--light-back);
    color: var(--text-dark);
    font-size: 200%;
    margin: 5px 5px 5px 0px;
    float: left;
}

/* Nav parameters */
.links {
    margin-right: 10px;
}

/* Additional Nav parameters for unordered list and li elements */
.links ul, .links li {
    display: inline;
    font-size: 125%;
    margin-right: 10px;
}

/* Set link behavior */
.links a:link {
    color: var(--light-back);
}
.links a:visited {
    color: var(--light-back);
}
.links a:hover {
    color: white;
}
.links a:focus {
    color:green;
}
.links a:active {
    color:red;
}

  /* Set background image section parameters */
.background {
    /* <add a background image to the header> */
    display:flex;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 3px 2px 2px var(--back-color);
    
}

/* Set background image parameters */
.image {
    height: 115px;
    width: 100%;
    background-image: url("../images/mountain.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: -20px;
    border:2px solid black;
    border-radius: 5px;
}

/* Set mug-shot image parameters */
header img {
    height:100px;
    width:80px;
    position: absolute;
    left: 60px;
    bottom: 2px;
    top: 5px;
    border:2px solid black;
    border-radius: 5px;
    box-shadow: 3px 5px 1px var(--back-color);
}

/* Set welcome message parameters */
header h2 {
    background-color: var(--light-back);
    color: var(--text-dark);
    font-size: 150%;
    font-family: 'Indie Flower', 'cursive';
    position: absolute;
    right: 10px;
    bottom: 0px;

}

main {
    line-height: 1.5;
}

.info-about {
    display:flex;
    margin: 15px 0px;
    
    /* flex-wrap: wrap; */
}

/* Set aside parameters */
.info-about h2 {
    font-size: 200%;
    box-shadow: 3px 0px 0px 0px var(--back-color);
    height:200px;
    margin: 0px 20px 0px 20px;
    width: 150px;
    padding-right: 10px;
    min-width: 150px;
    text-align: right;
}

.info-about p {
    margin: 10px;
    font-weight: bold;
    color: var(--text-dark);
    font-family: 'Domine', serif;
    /* max-width: 85%; */
    /* flex: 1 0 100%; */
}

.info-work {
    display:flex;
    margin: 15px 0px;
}

.info-work h2 {
    font-size: 200%;
    box-shadow: 3px 0px 0px 0px var(--back-color);
    height:900px;
    margin: 0px 20px 0px 20px;
    width: 150px;
    padding-right: 10px;
    min-width: 150px;
    text-align: right;
}


/* Set behavior of cards */
.all-cards {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center;
    position: relative; */
}

/* Set behavior of individual cards */
.card {
    /* This did nothing for me  width:auto; */
    max-width: 50%;
    /* min-height: 100% Use this to take up same height for each block */
    flex: 1 0 50%;

}

/* Set behavior of special card that takes us more space */
#special-card {
    max-width: 100%;
    flex: 1 0 100%;
}

/* Set behavior of card content */
.card-header {
    /* position: absolute; */
    left: 0;
    bottom: -20px;
}

.card img {
    width: 100%;
    padding: 10px;
}

.info-contact {
    display:flex;
    margin: 15px 0px;
    /* width:100%; */
    /* flex-wrap: wrap; */
    align-items: center;
    height: auto;
    width: 100%;
    justify-content: space-between;
}

.info-contact h2 {
    font-size: 200%;
    box-shadow: 3px 0px 0px 0px var(--back-color);
    height:100px;
    margin: 0px 20px 0px 20px;
    width: 150px;
    padding-right: 10px;
    min-width:150px;
    text-align: right;
}

#fake-column {
    height:100px;
    width: 50px;
    padding-right: 10px;
}

.info-contact ul {
    text-align: center;
}

.info-contact ul, .info-contact li {
    display: inline;
    font-size: 105%;
}

.info-contact a {
    margin: 20px;
    max-width:100%
}

.info-contact a:link {
    color: var(--text-dark);
    font-weight: bold;
    font-family: 'Domine', serif;
}

.info-contact a:visited {
    color: var(--text-dark);
    font-weight: bold;
    font-family: 'Domine', serif;
}

.info-contact a:hover {
    color: purple;
}
.info-ccontact a:focus {
    color:green;
}
.info-contact a:active {
    color:red;
}

/* Behaviior at 992px or smaller 
@media screen and (max-width: 992px) {
    <enter class> {
      width: 50%;
    }
  }
  */
  
  /* Behavior at 768px or smaller
  @media screen and (max-width: 768px) {
      /* add this for nav
      flex-direction: column;
    <enter class> {
      width: 100%;
    }
  }
  */